.button {
  border: 1px solid $sub;
  border-radius: .25rem;
  color: $sub-v;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  outline: none;
  padding: .5rem .75rem;
  text-decoration: none;
  transition:
    border-color 300ms ease-in-out,
    color 300ms ease-in-out;

  &:hover {
    border-color: $primary;
    color: inherit;
  }

  .icon {
    margin-right: .5em;
  }

  &_map {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 30px;
    color: $primary;
    line-height: 55px;
    text-align: center;
    background: #fff;
    border: 1px solid $primary;

    &_setting {
      position: absolute;
      font-size: 30px;
      color: $primary;
      right: 30px;
      background-color: transparent;
      border: none;
      top: 20px;
      padding: 0;
      display: inline-block;
      transition: color .3s,
      text-decoration .3s,
      background-color .3s;

      &:hover {
        color: $base;
        cursor: pointer;
      }
    }

    &:not(:last-child) {
      margin-right: 30px;
    }

    &_info {
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      transition: color .5s,
      text-decoration .5s,
      background-color .5s;

      &:hover {
        background: linear-gradient(#3316F2 0%, #1CACBF 100%) no-repeat 50% 50% / 100% 100%;
        color: $base;
        cursor: pointer;
      }
    }
  }

  &--link {
    border: 0;
  }

  &--inverse {
    background: $primary;
    border-color: $primary;
    color: #fff;
    transition: opacity 300ms ease-in-out;
    margin: 0 auto;
    display: block;
    width: 50%;
    margin-top: 1em;
    margin-bottom: 1em;

    &:hover {
      background: $primary;
      color: #fff;
      opacity: .8;
    }
  }

  &--fluid {
    width: 100%;
  }

  &--like {
    .icon {
      color: $red;
    }
  }

  &--liked {
    background: $red;
    border-color: $red;
    color: #fff;

    .icon {
      color: #fff;
    }

    &:hover {
      border-color: $red;
      color: #fff;
      opacity: .8;
    }
  }
}