.c-wrap {
  &__info {
    margin: 20px 0;
  }

  &_icon_text {
    background: $base;
    height: 50px;
    padding: 10px 5px;
    width: 100%;
    transition: background-color 300ms ease-in-out;

    & .icon {
      margin-right: 5px;
      -webkit-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
      -moz-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
      -ms-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
      filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
    }

    &.twitter {
      background: $twitter;
      color: $base;
    }

    &:hover {
      cursor: pointer;
      background: $sub;
    }
  }
}