.form {
  &__item {
    border: none;
    border-bottom: 1px solid $blue-2;
    border-radius: .25rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: .5em .75em;
    width: 100%;
    color: $blue-1;

    &::placeholder {
      color: $blue-2;
    }
  }

  label {
    display: block;
    margin-bottom: .5rem;
    color: $blue-1;
  }

  &__output {
    display: block;
    margin-bottom: 1rem;
  }

  &__button {
    text-align: right;
  }

  &__sns {
    &__wrap {
      color: $blue-1;
      padding: 2em 7em;
      display: flex;
      display: -webkit-box;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
    }
    &__feature {
      text-align: center;
      height: 2.06em;
      -ms-flex-preferred-size: 16%;
      flex-basis: 16%;
      line-height: 2em;
      font-size: 2em;

      &:not(:nth-child(3n)) {
          margin-right: 26%;
      }

      &:hover {
        cursor: pointer;
        border-color: $blue-2;
        text-decoration-color: transparent;
      }
    }

    &__btn {
      border: 1px solid $blue-1;
      border-radius: 50%;
      -ms-flex-preferred-size: 16%;
      transition: color .3s,
      text-decoration .3s,
      background-color .3s;
      display: block;
      width: 60px;
      height: 60px;
      font-size: 30px;
      line-height: 60px;
      text-align: center;

      &:not(:last-child) {
        margin-right: 30px;
      }

      &:hover {
        cursor: pointer;
        color: $white-1;
        background-color: $blue-2;
        border-color: $blue-2;
        text-decoration-color: transparent;
      }
    }
  }
}
