#map {
  height: 500px;
  position: relative;

  &_info {
    background: #fff;
    width: 95%;
    min-height: 100px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 20px;
    padding: 20px;
  }

  &_btn {
    position: absolute;
    top: 80px;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
