.panel {
  border: 1px solid $blue-2;
  margin-top: 1rem;
  padding: 1.5rem;
  color: $blue-1;

  &__hr {
    font-size: $header-1;
  }

  &__txt {
    display: block;
    padding: 0.5em 0.5em 1.2em 0.5em;

    &__right {
      display: block;
      text-align: right;
      padding: 0 0.75em;
    }
  }
}
