@charset "UTF-8";

a.link__wrap {
  display: block;
  width: 100%;
  height: 100%;
}

.flex {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.flex__col__3 {
  flex-basis: 32%;
}

.flex__col__3:not(:nth-child(3n)) {
  margin-right: 2%;
}

.circle {
  border-radius: 50%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

body {
  color: #22332e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  margin: 0;
}

main {
  margin-bottom: 6rem;
  margin-top: 6rem;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: #5743ef;
}

dd {
  margin-left: 0;
}

@media screen and (max-width: 480px) {
  main {
    margin-bottom: 0;
  }
}

.no__margin {
  margin: 0;
}

.no__padding {
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 100vw;
  padding: 0 2%;
}

.container--small {
  margin: 0 auto;
  max-width: 600px;
}

.navbar {
  -webkit-box-align: center;
          align-items: center;
  background: #fff;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: flex;
  height: 4rem;
  -webkit-box-pack: justify;
          justify-content: space-between;
  left: 0;
  padding: 2%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}

.navbar__brand {
  color: inherit;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

.navbar__brand:visited {
  color: inherit;
}

.navbar__brand img {
  max-height: 3rem;
}

.navbar__brand:hover {
  opacity: 0.6;
}

.navbar__menu {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
}

.navbar__item {
  margin-left: 1rem;
}

@media screen and (max-width: 480px) {
  .navbar__brand img {
    max-height: 2rem;
  }
}

.footer {
  -webkit-box-align: center;
          align-items: center;
  border-top: 1px solid #f1f1f1;
  display: -webkit-box;
  display: flex;
  height: 5rem;
  -webkit-box-pack: center;
          justify-content: center;
}

.grid {
  display: grid;
  grid-gap: 0 2%;
  grid-template-columns: repeat(auto-fit, 32%);
}

.grid__item {
  margin-bottom: 2rem;
}

.button {
  border: 1px solid #dedede;
  border-radius: 0.25rem;
  color: #8a8a8a;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  outline: none;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  -webkit-transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
  transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
}

.button:hover {
  border-color: #1CACBF;
  color: #1CACBF;
}

.button .icon {
  margin-right: 0.5em;
}

.button_map {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 30px;
  color: #5743ef;
  line-height: 55px;
  text-align: center;
  background: #fff;
  border: 1px solid #5743ef;
}

.button_map_setting {
  position: absolute;
  font-size: 30px;
  color: #3316F2;
  right: 30px;
  background-color: transparent;
  border: none;
  top: 20px;
  padding: 0;
  display: inline-block;
  -webkit-transition: color 0.3s, background-color 0.3s, -webkit-text-decoration 0.3s;
  transition: color 0.3s, background-color 0.3s, -webkit-text-decoration 0.3s;
  transition: color 0.3s, text-decoration 0.3s, background-color 0.3s;
  transition: color 0.3s, text-decoration 0.3s, background-color 0.3s, -webkit-text-decoration 0.3s;
}

.button_map_setting:hover {
  color: #fff;
  cursor: pointer;
}

.button_map:not(:last-child) {
  margin-right: 30px;
}

.button_map_info {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: color 0.5s, background-color 0.5s, -webkit-text-decoration 0.5s;
  transition: color 0.5s, background-color 0.5s, -webkit-text-decoration 0.5s;
  transition: color 0.5s, text-decoration 0.5s, background-color 0.5s;
  transition: color 0.5s, text-decoration 0.5s, background-color 0.5s, -webkit-text-decoration 0.5s;
}

.button_map_info i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  margin: auto;
}

.button_map_info:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#3316F2), to(#1CACBF)) no-repeat 50% 50%/100% 100%;
  background: linear-gradient(#3316F2 0%, #1CACBF 100%) no-repeat 50% 50%/100% 100%;
  color: #fff;
  cursor: pointer;
}

.button--link {
  border: 0;
}

.button--inverse,
.button--inverse__top__bottom,
.button--inverse__top {
  background: #3316F2;
  border-color: #3316F2;
  color: #fff;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  margin: 0 auto;
  display: block;
  width: 50%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.button--inverse:hover,
.button--inverse__top__bottom:hover,
.button--inverse__top:hover {
  background: #1CACBF;
  color: #fff;
  opacity: 0.8;
}

.button--inverse__top {
  padding: 0.7rem 0.75rem;
  width: 85%;
  text-align: center;
}

.button--inverse__top:hover {
  background: #1CACBF;
  color: #fff;
  opacity: 1;
}

.button--inverse__top__bottom {
  padding: 0.7rem 0.75rem;
  width: 45%;
  text-align: center;
}

.button--inverse__top__bottom:hover {
  background: #1CACBF;
  color: #fff;
  opacity: 1;
}

.button--fluid {
  width: 100%;
}

.button--like .icon {
  color: #e4406f;
}

.button--liked {
  background: #e4406f;
  border-color: #e4406f;
  color: #fff;
}

.button--liked .icon {
  color: #fff;
}

.button--liked:hover {
  border-color: #e4406f;
  color: #fff;
  opacity: 0.8;
}

.button__modal {
  background: #fff;
  border: none;
  width: 100%;
  height: 20%;
  padding: 0;
  cursor: pointer;
  font-weight: bold;
  color: #3316F2;
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}

.button__modal:hover {
  background: #dedede;
}

@media screen and (max-width: 480px) {
  .button--inverse,
  .button--inverse__top,
  .button--inverse__top__bottom {
    width: 90%;
  }

  .button_map_setting {
    right: 20px;
  }
}

.form__wrap {
  position: relative;
}

.form__item {
  border: none;
  border-bottom: 1px solid #5743ef;
  font-size: 1rem;
  margin-bottom: 2rem;
  padding: 0.5em 3em 0.5em;
  width: 100%;
}

.form__item::-webkit-input-placeholder {
  color: #8a8a8a;
}

.form__item::-moz-placeholder {
  color: #8a8a8a;
}

.form__item:-ms-input-placeholder {
  color: #8a8a8a;
}

.form__item::-ms-input-placeholder {
  color: #8a8a8a;
}

.form__item::placeholder {
  color: #8a8a8a;
}

.form label {
  display: block;
  margin-bottom: 0.2rem;
  color: #22332e;
  font-weight: bold;
}

.form__output {
  display: block;
  margin-bottom: 1rem;
}

.form__button {
  text-align: right;
}

.form__sns__wrap {
  color: #5743ef;
  padding: 2em 7em;
  display: flex;
  display: -webkit-box;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.form__sns__feature {
  text-align: center;
  height: 2.06em;
  flex-basis: 16%;
  line-height: 2em;
  font-size: 2em;
}

.form__sns__feature:not(:nth-child(3n)) {
  margin-right: 26%;
}

.form__sns__feature:hover {
  cursor: pointer;
  border-color: #D6D1F8;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
}

.form__sns__btn {
  border: 1px solid #5743ef;
  border-radius: 50%;
  -ms-flex-preferred-size: 16%;
  -webkit-transition: color 0.3s, background-color 0.3s, -webkit-text-decoration 0.3s;
  transition: color 0.3s, background-color 0.3s, -webkit-text-decoration 0.3s;
  transition: color 0.3s, text-decoration 0.3s, background-color 0.3s;
  transition: color 0.3s, text-decoration 0.3s, background-color 0.3s, -webkit-text-decoration 0.3s;
  display: block;
  width: 60px;
  height: 60px;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
}

.form__sns__btn:not(:last-child) {
  margin-right: 30px;
}

.form__sns__btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: #3316F2;
  border-color: #3316F2;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
}

@media screen and (max-width: 480px) {
  .form__item {
    font-size: 1.2rem;
  }

  .form__sns__wrap {
    padding: 2em 0;
  }
}

.tab {
  display: -webkit-box;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tab__item {
  border-bottom: 2px solid #D6D1F8;
  color: #5743ef;
  cursor: pointer;
  margin: 0 1rem 0 0;
  padding: 1rem;
}

.tab__item--active {
  border-bottom: 2px solid #3316F2;
  color: #3316F2;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .tab {
    -webkit-box-pack: center;
            justify-content: center;
  }

  .tab__item {
    width: 50%;
    text-align: center;
  }
}

.errors {
  border: 1px solid #c7004c;
  border-radius: 0.25rem;
  color: #c7004c;
  margin-bottom: 1rem;
}

.panel {
  border: 1px solid #D6D1F8;
  margin-top: 1rem;
  padding: 1.5rem;
  color: #22332e;
}

.panel__hr {
  font-size: 1.2rem;
  font-weight: bold;
}

.panel__txt {
  display: block;
  padding: 0.5em 0.5em 1.2em 0.5em;
}

.panel__txt__right {
  display: block;
  text-align: right;
  padding: 0 0.75em;
  color: #8a8a8a;
}

.panel__txt__right:hover {
  color: #138996;
  opacity: 0.8;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 0 1rem 0;
}

.c-loader,
.c-loader:before,
.c-loader:after {
  background: #3316F2;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  z-index: 5;
}

.c-loader {
  color: #3316F2;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.c-loader-wrap {
  position: fixed;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 5;
  margin-top: -6rem;
}

.c-loader:before,
.c-loader:after {
  position: absolute;
  top: 0;
  content: "";
}

.c-loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.c-loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.c-modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  margin: auto;
  z-index: 1;
}

.c-modal__overlay__wrap,
.c-modal__overlay__wrap__sml {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: #fff;
  margin: auto;
}

.c-modal__overlay__wrap__sml {
  width: 30%;
  height: 35%;
}

.c-modal__msg__section {
  background: linear-gradient(153deg, #3316f2 35%, #1cacbf 100%);
  color: #fff;
  height: 90%;
  padding: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.c-modal__msg__section p {
  margin-top: 0;
  margin-bottom: 10px;
}

.c-modal_dialog {
  display: block;
  background-color: #fff;
  padding: 10px;
}

@media screen and (max-width: 480px) {
  .c-modal__overlay__wrap__sml {
    width: 90%;
  }

  .c-modal__msg__section {
    height: 80%;
  }
}

.c-head_title__extreme {
  font-size: 3rem;
  margin: 20px 0;
}

.c-head_title__big {
  font-size: 1.5rem;
  margin: 20px 0;
}

.c-head_title__mid,
.c-head_title__mid__modal {
  font-size: 1.2rem;
}

.c-head_title__mid__modal {
  font-weight: bold;
  margin-top: 0;
}

.c-head_title__mid__modal i {
  margin-right: 5px;
}

.c-head_title__mid__modal dt {
  padding-right: 5px;
  padding-bottom: 10px;
}

.c-head_title__mid__modal dd {
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  font-weight: normal;
}

.c-head_title__mid__modal dd .country_flag {
  -webkit-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
  -moz-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
  -ms-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
  vertical-align: middle;
}

.c-head_title__mid__modal dd .desc {
  vertical-align: middle;
}

.c-head_title__bold {
  font-weight: bold;
}

.c-wrap__info {
  margin: 20px 0;
}

.c-icon,
.c-icon__pwd::before,
.c-icon__email::before,
.c-icon__name::before {
  position: absolute;
  font-size: 1.5rem;
  top: 9%;
  left: 1%;
  color: #5743ef;
}

.c-icon__name::before {
  content: "\F007";
  font-family: FontAwesome;
}

.c-icon__email::before {
  content: "\F0E0";
  font-family: FontAwesome;
}

.c-icon__pwd::before {
  content: "\F023";
  font-family: FontAwesome;
}

.fade-enter-active {
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.fade-enter {
  opacity: 0;
}

#map {
  height: 500px;
  position: relative;
}

#map_info {
  background: #fff;
  width: 45%;
  min-height: 100px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 20px;
  padding: 20px;
}

#map_btn {
  position: absolute;
  top: 80px;
  margin: 0 auto;
  right: 0;
  left: 0;
  width: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

#map_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  margin: auto;
  z-index: 1;
}

#map_overlay_wrap {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: #fff;
  margin: auto;
}

.map_info_items {
  margin: 0;
}

.map_info_items i {
  margin-right: 5px;
  margin-top: 3px;
}

.map_info_items .title {
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.map_info_items .list {
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  width: 80%;
}

.map_info_items .list.info {
  padding-left: 10px;
}

.map_info_items .list .country_flag {
  -webkit-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
  -moz-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
  -ms-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
  vertical-align: middle;
}

.map_info_items .list .desc {
  vertical-align: middle;
}

.map_info_items .list .items {
  font-size: 1.5rem;
  margin: 0;
  list-style-type: none;
  padding-left: 10px;
  padding-top: 15px;
}

.map_info_items .list .item {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
}

.map_info_items .list .item i {
  margin-right: 0;
}

.map_info_items .list .item i.none {
  color: #8a8a8a;
}

.map_info_items .list .item i.middle {
  color: #5743ef;
}

.map_info_items .list .item i.high {
  color: #3316F2;
}

.map_info_items .list .item i.high:after {
  content: "\25CF";
  position: absolute;
  color: #e4406f;
  top: -10px;
  font-size: 0.3em;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.map_info_dialog {
  position: absolute;
  top: -50px;
  right: 0;
  background-color: #f1f1f1;
}

.map_info_dialog :before {
  content: "";
  position: absolute;
  top: 100%;
  right: 32px;
  border: 15px solid transparent;
  border-top: 30px solid #f1f1f1;
}

.map_info_introduction {
  margin: 0;
}

.map_info_introduction .title {
  text-align: center;
}

.map_info_introduction .title i {
  padding-right: 10px;
}

.map_info_introduction .list {
  width: 80%;
}

@media screen and (max-width: 480px) {
  #map {
    height: 87vh;
  }

  #map_info {
    width: 90%;
    padding: 15px 15px;
  }

  #map_info_desc {
    width: 75%;
  }

  #map_overlay_wrap {
    width: 95%;
    height: 80%;
    padding: 10px 20px;
  }

  .map_info_items .dd {
    width: 75%;
  }
}

.p-on_boarding__content {
  text-align: center;
  color: #22332e;
}

.p-on_boarding__content h2 {
  font-size: 3rem;
  padding-top: 100px;
  padding-bottom: 50px;
}

.p-on_boarding__content p {
  font-size: 1.5rem;
  text-align: left;
  padding-bottom: 30px;
}

.p-on_boarding__firstwrap {
  height: 100%;
  padding-left: 150px;
  padding-right: 150px;
  margin-bottom: 100px;
}

.p-on_boarding__secondwrap {
  height: 100%;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 100px;
  background: linear-gradient(153deg, #3316f2 35%, #1cacbf 100%);
  color: #fff;
  margin-left: -2.5%;
  margin-right: -2.5%;
  box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.057), 0 5px 6.1px rgba(0, 0, 0, 0.076), 0 10.1px 11.4px rgba(0, 0, 0, 0.086), 0 19.2px 19.8px rgba(0, 0, 0, 0.092), 0 38.4px 34.8px rgba(0, 0, 0, 0.1), 0 -1.9px 2.5px rgba(0, 0, 0, 0.057), 0 -5px 6.1px rgba(0, 0, 0, 0.076), 0 -10.1px 11.4px rgba(0, 0, 0, 0.086), 0 -19.2px 19.8px rgba(0, 0, 0, 0.092), 0 -38.4px 34.8px rgba(0, 0, 0, 0.1);
}

.p-on_boarding__bottomwrap {
  padding-bottom: 80px;
}

.p-on_boarding__bottomwrap p {
  text-align: center;
  padding-bottom: 0;
}

.p-on_boarding__image {
  max-width: 80%;
}

.p-on_boarding__container {
  position: relative;
  color: #fff;
  padding: 0;
  overflow: auto;
  height: 101vh;
  margin-top: -6rem;
}

.p-on_boarding__msg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 7%;
}

.p-on_boarding__msg h1 {
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.p-on_boarding__desc {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.p-on_boarding__desc p {
  margin: 5px 0;
}

@media screen and (max-width: 480px) {
  .p-on_boarding__content h2 {
    font-size: 2rem;
  }

  .p-on_boarding__content p {
    line-height: 2em;
  }

  .p-on_boarding__container {
    height: 100vh;
  }

  .p-on_boarding__msg {
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    width: 90%;
  }

  .p-on_boarding__msg h1 {
    font-size: 3rem;
  }

  .p-on_boarding__firstwrap {
    padding-left: 10px;
    padding-right: 10px;
  }

  .p-on_boarding__secondwrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.p-setting__wrap {
  position: relative;
}

.p-setting__back {
  position: absolute;
  left: 1%;
  top: 3%;
  font-size: 1.5rem;
  color: #5743ef;
  -webkit-transition: color 0.3s, background-color 0.3s, -webkit-text-decoration 0.3s;
  transition: color 0.3s, background-color 0.3s, -webkit-text-decoration 0.3s;
  transition: color 0.3s, text-decoration 0.3s, background-color 0.3s;
  transition: color 0.3s, text-decoration 0.3s, background-color 0.3s, -webkit-text-decoration 0.3s;
}

.p-setting__back:hover {
  color: #D6D1F8;
  cursor: pointer;
}

.p-setting__distance__info {
  margin-bottom: 10px;
}

.p-setting__distance__msg {
  position: relative;
}

.p-setting__distance__msg__lf {
  position: absolute;
  display: inline-block;
  left: 0;
  color: #5743ef;
}

.p-setting__distance__msg__mid {
  display: inline-block;
}

.p-setting__distance__msg__rf {
  position: absolute;
  display: inline-block;
  right: 0;
  color: #5743ef;
}

.p-setting__icon {
  background: #5743ef;
  border-radius: 50%;
  -ms-flex-preferred-size: 16%;
  display: block;
  color: #fff;
  width: 45px;
  height: 45px;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  display: inline-block;
  margin-left: 5%;
}

.p-setting__txt {
  flex-basis: 50%;
  display: inline-block;
  margin-left: 5%;
}

.p-setting__next {
  font-size: 20px;
  color: #5743ef;
  flex-basis: 20%;
  position: absolute;
  top: 35%;
  right: 5%;
}

.p-setting__elm__wrap {
  border-top: 2px solid #D6D1F8;
  width: 60%;
  text-align: left;
  position: relative;
  border-radius: 0;
  background-color: #fff;
}

.p-setting__elm__wrap:first-of-type {
  margin-top: 20px;
}

.p-setting__elm__wrap:last-child {
  border-bottom: 2px solid #D6D1F8;
}

.p-setting__elm__wrap:last-child:hover {
  border-color: #5743ef;
  color: inherit;
}

@media screen and (max-width: 480px) {
  .p-setting__elm__wrap {
    width: 100%;
    background: #fff;
  }
}

